:root {
    --font-family-body: Arial, Helvetica, sans-serif;
    --font-family-code: "Fira Code", Inconsolata, Consolas, monospace;
    --font-family-human: "Architects Daughter", "Indie Flower", "Zapfino", "Brush Script MT", "Caflisch Script Pro", "Brush Script Std", cursive;

    --color-red: #e93147;
    --color-orange: #ec7500;
    --color-yellow: #e0ac00;
    --color-green: #08b94e;
    --color-cyan: #00bfbc;
    --color-blue: #086ddd;
    --color-purple: #7852ee;
    --color-pink: #d53984;
}

body {
    font-family: var(--font-family-body);
    font-size: 14px;
    font-weight: 400;
    color: #222;
    background-color: white;
    padding: 2em;
}

h1, h2, h3, h4, h5 {
    color: #1d3e81;
    margin-top: 1.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
    color: #5e81ac;
}

p {
    margin: 1em 0;
}

ul {
    margin: 1em 0;
    padding-left: 2em;
}

li {
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
    display: block;
    margin: 1em 0;
}

pre {
    font-family: var(--font-family-code);
    white-space: pre-wrap;         /* wrap long lines instead of horizontal scrolling */
    word-break: break-all;         /* break words if needed */
    font-size: 14px;
    background-color: #f9f9f9; /* Light background color */
    padding: 1em;
    overflow: visible;             /* allow full rendering */
    margin: 1em 0;
}

code {
    font-family: var(--font-family-code);
}

.closing {
    font-family: var(--font-family-human);
    margin-top: 40px;
    font-size: 18px;
    font-style: italic;
    line-height: 20px;
}

.signature {
    font-family: var(--font-family-human);
    margin-top: 40px;
    line-height: 26px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.page-break {
    break-before: page;
}

.passphrase-box {
    font-family: var(--font-family-code);
    font-size: 18px;
    border: 2px solid #ccc; /* Solid border with a light grey color */
    padding: 10px; /* Add some spacing inside the box */
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
    display: inline-block;
}

.notes {
    font-family: var(--font-family-human);
}

.finding-help {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.callout {
    border-radius: 6px;
    margin: 16px 0;
    padding: 12px 16px;
    border-left: 4px solid;
    position: relative;
}

.callout-title {
    font-weight: 600;
    display: flex;
    align-items: normal;
    margin-bottom: 8px;
}

/*.callout-icon {*/
/*    font-family: "FiraCode Nerd Font", monospace;*/
/*    margin-right: 8px;*/
/*    width: 18px;*/
/*    height: 18px;*/
/*}*/

.callout-warning {
    background-color: rgba(255, 145, 0, 0.1);
    border-left-color: #ff9100;
    color: #663c00;
}

.callout-warning .callout-title {
    color: #ff9100;
}

.callout-danger {
    background-color: rgba(220, 38, 127, 0.1);
    border-left-color: #dc267f;
    color: #5c1a3b;
}

.callout-danger .callout-title {
    color: #dc267f;
}

.callout-quote {
    background-color: rgba(158, 158, 158, 0.1);
    border-left-color: #9e9e9e;
    color: #424242;
    font-style: italic;
}

.callout-quote .callout-title {
    color: #9e9e9e;
}


.callout-quote .callout-label {
    font-style: normal;
    color: #424345;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    width: 100%;
    padding: 0 6.5em;
    display: flex;
    justify-content: space-between;}

