body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #222;
    background-color: white;
    padding: 2em;
}

h1, h2, h5 {
    color: #1d3e81;
    margin-top: 1.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
    color: #5e81ac;
}

p {
    margin: 1em 0;
}

ul {
    margin: 1em 0;
    padding-left: 2em;
}

li {
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
    display: block;
    margin: 1em 0;
}

pre {
    /*white-space: pre-wrap;         !* wrap long lines instead of horizontal scrolling *!*/
    /*word-break: break-all;         !* break words if needed *!*/
    font-family: "Fira Code", Inconsolata, Consolas, monospace;
    /*font-weight: bold;*/
    font-size: 18px;
    background-color: #f9f9f9; /* Light background color */
    padding: 1em;
    overflow: visible;             /* allow full rendering */
    margin: 1em 0;

}

code {
    font-family: "Fira Code", Inconsolata, Consolas, monospace;
}

.closing {
    margin-top: 40px;
    font-size: 18px;
    font-style: italic;
    line-height: 20px;
}

.signature {
    margin-top: 40px;
    line-height: 26px;
    font-family: "Shadows Into Light", "Zapfino", "Brush Script MT", "Caflisch Script Pro", "Brush Script Std", cursive;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.break-before {
    page-break-before: always;
}

.passphrase-box {
    border: 2px solid #ccc; /* Solid border with a light grey color */
    padding: 10px; /* Add some spacing inside the box */
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */

    font-family: Inconsolata, Consolas, monospace;
    font-weight: bold;
    font-size: 32px;
}




